.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
.react-flow {
  height: 100vh !important;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

button{
  line-height: 10px !important;
  height: 25px;
  width: 70px;
  font-size: 11px !important;
}

button#dropdown-basic{
  width: 11px;
  background-color: inherit;
  border-color: unset;
  border: 0px;
}
.form-select{
  width: 100px !important;
  background-color: inherit !important;
  border-color: unset !important;
  border: 0px !important;
  color: white !important;
}
.dropdown-menu.show{
  max-width: 100px;
  width: 100px;
  min-width: 100px !important;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  z-index: 1000;
  position: absolute;
  right: -222px;
  top: 0px;
  border: 1px solid #a3dae3;
  border-radius: 4px !important;
  background-color: white;
  padding: 5px;
}
.react-flow__node{
  z-index: 1 !important;
}

.node-border{
  width: 400px;
  min-height: 69px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: rgb(45 62 80 / 12%) 0px 1px 5px 0px;
  position: relative;
  cursor: pointer;
}
.node-border-sub{
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 1px;
  border: 1px solid rgb(153, 172, 194);
  border-radius: inherit;
}
.node-border-sub-hover{
  overflow: hidden;
  background-color: rgb(242, 245, 248);
  box-shadow: rgb(0 145 174) 0px 0px 0px 1px;
  border: 1px solid rgb(0, 145, 174);
  border-radius: inherit;
}
.node-header{
  display: flex;
  justify-content: space-between;
  background-color:#445b75;
  padding: 5px 10px;
}
.node-body{
  border-color: inherit;
  border-top-width: 1px;
  padding: 24px;
}
.node-body2{
  vertical-align: middle;
  text-align: center;
}
.node-body3{
  transition: all .15s ease-out;
  overflow: hidden;
  position: relative;
}
.node-body3-see-more{
  max-height: 192px;
}
.node-body4{
  border: 1px solid rgb(223, 227, 235);
  padding: 10px 8px;
}
.node-body5{
  border: 1px solid rgb(223, 227, 235);
  padding: 10px 8px;
}
.node-body p.action{
  color: rgb(82, 99, 118);
  margin-bottom: 5px;
}
div.react-flow__handle{
  opacity: 0;
}
.react-flow__edge-path{
  stroke-width: 2px !important;
}
.header-icon{
  display: flex;
}
.model-header-confirm{
  background-color: #337ab7;
  padding: 10px !important;
}
.modal-header-success{
  display: unset !important;
  padding:  10px 10px !important;
}
.modal-header-success-icon{
  display: flex;
  justify-content: center;
}
.modal-body-success{
  text-align: center;
}
.title-confirm{
  margin-left: 5px;
}
.icon-sucess{
  color: green;
  font-size: 50px;
}
.icon-error{
  color: red;
  font-size: 50px;
}
.modal-title{
  display: flex;
  align-items: center;
  color: white;
}
.modal-dialog .modal-success{
  max-width: 400px;
}
.btn-close.success{
  float: right;
}
.btn-primary, .btn-danger, .btn-outline-primary{
  height: 30px !important;
  min-width: 90px !important;
}
.showMore_model-success{
  /* display: inline-grid; */
}
input[type=text], input[type=text]:focus-visible
{
    outline:none;
    border:none;
    border-bottom: 1px solid lightgray;
}

.x-button{
  position: absolute;
  top: 7px;
  right: 12px;
}
a.success-link {
  color: #0d6efd !important;
  text-decoration: underline!important;
  cursor: pointer;
}
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
